<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ .title }}</h1>

    <form action="/login" method="POST">
        Username: <input type="text" name="username" required><br>
        Password: <input type="text" name="password" required><br>
        <button type="submit">Login</button><br>
        <p>Don't have an account?</p><a href="/signup">signup</a>
    </form>
</body>
</html>